body {
  overflow-x: hidden;
  font-family: sans-serif ;
  color: #505962;
}
navbar {
  text-transform: uppercase;
  
}
.navbar-brand img {
  height: 4rem ;
}
.home-inner {
 background-image: url(img/pexels-ashan-rai-2085998.jpg);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
}
.caption h3  {
  color: rgb(109, 14, 3);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin: 0px, 0px, 6px, -30px;
  padding: 0px, 0px, 0px, 80px;


}

h1 {
  color: aliceblue;
}
.btn {
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  padding: .5rem 1.1rem;
  font-size: .9rem;
}
h3.heading {
  text-align: center;
  font-size: 1.9rem;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.padding {
  padding: 2rem 0;;
}
img.portofolio {
  max-width: 100%;
}
no.padding .col-md-6 {
  padding: 0;
}
.card {
  margin: 2rem;
  
}
.footer .row {
  background-color: #505962;
  padding: 1rem 2rem 3rem;
  color: white;
  justify-content: center;
}
.footer img {
  height: 2rem;
  margin: 1.5rem 0;
  justify-content: center;
}

.text-cente {
  margin-left: 60px;
  margin-right: 60px;
}





/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}






